body {
  padding-top: 50px !important;
  padding-bottom: 70px !important;

}
#nav{
  font-family: 'Merriweather', serif;
}
.navbar-brand > img {
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

#author_image{
  /*padding:0px;*/
}
#author_info a{
  font-size: 18px;
}
label{
  padding-left: 0px !important;
  /*padding-right: 0px !important????;*/
  font-size: 18px;
}
#comment_date{
  text-align: right;
}

#more_Comments {
  text-align: center;
  /*padding-left: 5%;
  padding-right: 5%;*/
}
#footer_copyright{
  text-align: center;
}
/*footer {
  padding: 50px 0 65px;
}*/
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
}
.fa-stack{
  color:black;
}
.fa-inverse {
  color: white !important;
}

@media only screen and (max-width: 768px) {

  h2{
    font-size:20px;
  }
  #author_info .row div{
    padding-left: 5px;
    padding-right: 5px;
  }
  #changes .col-xs-8{
    width: 100%;
  }
  #changes .col-xs-offset-2{
    margin-left: 0px;
  }
  #changes .row .row div{
    padding-left: 5px;
    padding-right: 5px;
  }
}
